body{
    background-color: #828e84; /*make desk background*/
    height: 100%;
    margin: 0px;
    font-style: "Times New Roman";
}
h1 {
    text-align: center;
    margin: 4px;
    color: seashell;
}
h3 {
    text-align: center;
    margin: 4px;
    color: seashell;
}
#container{
    margin-left: 2.5%;
    margin-right: 2.5%;
    box-sizing: border-box;
    border-style:solid;
    box-shadow: 2px,;
    border-width: 2.5em;
    border-color: red;
    background-color: seashell;
}
#btnContainer{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-right: 2.5%;
    margin-left: 2.5%;
}
#textbutton{
    color: seashell;
    font-size: 16px;
    font-weight: bold;
    
}
.btn {
    margin-right: 5%;
    float: right;
    margin-bottom: 8px;
    background-color: seashell;
    border-style: solid;
    border-color: red;
    color: red;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .btn:hover {
    background-color: red;
    color: white;
  }
  #black{
    border-color: black;
    color: black
  }
  #black:hover {
    background-color: black;
    color: white
  }
  #blue{
    border-color: blue;
    color: blue;
  }
  #blue:hover {
    background-color: blue;
    color: white;
  }
  #green{
    border-color: green;
    color: green;
  }
  #green:hover {
    background-color: green;
    color: white;
  }